<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>syoutube</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}"> 
    <link rel="stylesheet" href="{{url_for('static',filename="/styles/download.css")}}">
</head>
<body>
    <div class="container_d">
        <div class="box_do">
            <div class="content">
                <div class="item">
                    <div class="right">
                        <img id="images" src="{{url.thumbnail}}" alt="">
                    </div>
                    <div class="left">
                        <div id="tittle">
                            {{url.title}}
                        </div>
                        <div id="owner">
                            {{url.uploader}}
                        </div>
                        <div class="option">
                            <select name="select" id="selection">
                                <optgroup label="mp4">
                                    <option data-format="mp4" disabled>mp4</option>
                                    {%for item in list1 %}
                                        <option data-format="mp4" data-hidden-info="{{resolutions.get(item)[0]}}">{{item}} ({{resolutions.get(item)[1]}})</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="mp3">
                                    <option data-format="mp3" value="bestaudio" data-hidden-info="{{audioSize[0]}}">audio ({{audioSize[1]}})</option>
                                </optgroup>
                            </select>
                            <form method="POST" id="method">
                                <button type="submit" id="buttom" onclick="printSelectedOption()">Download</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function printSelectedOption() {
            const form = document.getElementById('method'); 
            const selection = document.querySelector('#selection');
            const selectedOption = selection.options[selection.selectedIndex];
            const text=selectedOption.textContent
            const hiddenInfo = selectedOption.dataset.hiddenInfo;
            let audio = false

            if(text.split(" ")[0] == "audio"){
                audio = true
            }
            form.action = "/download/" + hiddenInfo + "/" + audio;
        }
        </script>
</body>

</html>
