@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

.alert {
    padding: 20px;
    background-color: #a25a4e;
    color: white;
    border-radius: 5px;
    margin: 0px 0px 10px 0px;
    width: 25vw;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}


.container{
    height: 100vh;
    width: 100vw;
    background-color:#08003a!important;
}
nav{
    height: 17.452006980802793vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.owner{
    color: white;
    font-size: 25px;
    font-family: 'DM Serif Display', serif;
    margin: 0px 0px 0px 8.59375vw;
}
.playlist{
    color: white;
    font-size: 23px;
    font-family: 'DM Serif Display', serif;
    margin: 0px 7.8125vw 0px 0px;
    text-decoration: none;
}
#atag{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.content{
    display: flex;
    justify-content: center;
    height: 34%;
    width: 100%;
}
.content1{
    display: flex;
    justify-content: center;
    height: 11.052931937172774vh;
    width: 100%;
}

.title{
    color: white;
    font-size: 50px;
    height: 10.471204188481675vh;
    margin: 7.8125vw 0px 0px 0px;
}
.inp{
    display: inline-block;
    height: 11.052931937172774vh;
    width: 26.5625vw;
}
#input{
    height: 10.354851657940664vh;
    width: 26.5625vw;
    display: inline-block;
    border: 1px solid white;
    font-family: 'DM Serif Display', serif;	
    font-size: 17px;
}
#input:focus {
      outline: 1px solid rgb(255, 255, 255);
}
.box{
    display: inline-block;
    height: 10.529371727748691vh;
    width: 12.578125vw;
    background-color: rgb(255, 255, 255);
}
.box1{
    height: 10.529371727748691vh;
    width: 12.109375vw;
    display: flex;
    align-items: center;	
    justify-content: center;
}
#download{
    height: 8.202443280977313vh;
    width: 11.640625vw;
    background-color: #dc3545;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    color: white;
    border: 1px solid #dc3545;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 700px){
    .container{
        height: 100vh;
        width: 100vw;
        background-color:#08003a!important;;
    }
    .content1{
        height: 8.3vh;
    }
    .playlist{
        color: white;
        font-size: 20px;
        font-family: 'DM Serif Display', serif;
        margin: 0px 1.8125vw 0px 0px;
        text-decoration: none;
    }
    nav{
        height: 17.452006980802793vh;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .title{
        color: rgb(255, 255, 255);
        font-size: 22px;
        height: 10vh;
        margin: 30vw 0px 0px 0px;
        font-weight: bold;
    }
    .inp{
        display: inline-block;
        height:  8.93vh;
        width: 61vw;
    }
    #input{
        height:  8.93vh;
        width: 196px;
        width: 100%;
        display: inline-block;
        border: 1px solid white;
        font-family: 'DM Serif Display', serif;	
        font-size: 14px;
    }
    .owner{
        font-size: 20px;
    }
    .box{
        display: inline-block;
        height:  9.2vh;
        width: 100px;
        background-color: rgb(255, 255, 255);
    }
    .box1{
        height:  8.93vh;
        width: 30.671875vw;
        display: flex;
        align-items: center;	
        justify-content: center;
    }
    #download{
        height: 47px;
        width: 100px;
        background-color: #dc3545;
        font-family: 'DM Serif Display', serif;
        font-size: 15px;
        color: white;
        border: 1px solid #dc3545;
        border-radius: 5px;
        cursor: pointer;
    }	
}